<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * == 개정이력(Modification Information) ==
 *   
 *   수정일      		수정자           수정내용
 *  ============   	============== =======================
 *  2025.10.09        정태일            MyBatis XML 포맷 정리
-->

<mapper namespace="kr.or.jsu.mybatis.mapper.CertificateItemMapper">

    <!-- 증명서 항목 등록 -->
    <insert id="insertCertificateItem" parameterType="kr.or.jsu.vo.CertificateItemVO">
        INSERT INTO certificate_item (
              item
            , certificate_cd
            , describe
        ) VALUES (
              #{item}
            , #{certificateCd}
            , #{describe}
        )
    </insert>

    <!-- 전체 증명서 항목 목록 조회 -->
    <select id="selectCertificateItemList" resultType="kr.or.jsu.vo.CertificateItemVO">
        SELECT
              item
            , certificate_cd
            , describe
        FROM
            certificate_item
        ORDER BY
              item
            , certificate_cd
    </select>

    <!-- 증명서 코드 기준 항목 목록 조회 -->
    <select id="selectCertificateItemListByCertCd" parameterType="string" resultType="kr.or.jsu.vo.CertificateItemVO">
        SELECT
              item
            , certificate_cd
            , describe
        FROM
            certificate_item
        WHERE
            certificate_cd = #{certificateCd}
    </select>

    <!-- 증명서 항목 설명 수정 -->
    <update id="updateCertificateItem" parameterType="kr.or.jsu.vo.CertificateItemVO">
        UPDATE certificate_item
        SET
            describe = #{describe}
        WHERE
              item          = #{item}
            AND certificate_cd = #{certificateCd}
    </update>

    <!-- 증명서 항목 삭제 -->
    <delete id="deleteCertificateItem" parameterType="kr.or.jsu.vo.CertificateItemVO">
        DELETE FROM certificate_item
        WHERE
              item          = #{item}
            AND certificate_cd = #{certificateCd}
    </delete>

</mapper>
