<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.jsu.mybatis.mapper.StuScholarshipMapper">

    <!-- 단건 조회 -->
    <select id="selectStuScholarship" resultType="kr.or.jsu.vo.StuScholarshipVO">
        SELECT 
          yearterm_cd
        , student_no
        , create_at
        FROM stu_scholarship
        WHERE yearterm_cd = #{yeartermCd}
          AND student_no  = #{studentNo}
    </select>

    <!-- 전체 조회 -->
    <select id="selectStuScholarshipList" resultType="kr.or.jsu.vo.StuScholarshipVO">
        SELECT 
          yearterm_cd
        , student_no
        , create_at
        FROM stu_scholarship
        ORDER BY yearterm_cd DESC
        , student_no
    </select>

    <!-- 등록 -->
    <insert id="insertStuScholarship" parameterType="kr.or.jsu.vo.StuScholarshipVO">
        INSERT INTO stu_scholarship (
          yearterm_cd
        , student_no
        , create_at
        ) VALUES (
          #{yeartermCd}
        , #{studentNo}
        , #{createAt}
        )
    </insert>

    <!-- 수정 -->
    <update id="updateStuScholarship" parameterType="kr.or.jsu.vo.StuScholarshipVO">
        UPDATE stu_scholarship
        SET 
          create_at = #{createAt}
        WHERE yearterm_cd = #{yeartermCd}
          AND student_no  = #{studentNo}
    </update>

    <!-- 삭제 -->
    <delete id="deleteStuScholarship">
        DELETE FROM stu_scholarship
        WHERE yearterm_cd = #{yeartermCd}
          AND student_no  = #{studentNo}
    </delete>
    
    </mapper>